.u-section-1 .u-sheet-1 {
  min-height: 63px;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.2s;
  margin: -29px auto 0 527px;
}

.u-section-1 .u-btn-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.2s;
  margin: -29px auto 0 908px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -10px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.2s;
  margin: -28px auto 0 157px;
}

.u-section-1 .u-btn-2 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  padding: 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.2s;
  margin: -28px auto 0 708px;
}

.u-section-1 .u-btn-3 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  padding: 0;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.2s;
  margin: -29px auto 0 352px;
}

.u-section-1 .u-btn-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -10px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 38px;
  height: 38px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -35px 0 14px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 434px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 748px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 584px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 332px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 573px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 249px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 430px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 335px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 157px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 105px;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  color: #9eacba !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  color: #9eacba !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  color: #9eacba !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  color: #9eacba !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  color: #9eacba !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  color: #9eacba !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  color: #9eacba !important;
  opacity: 0.8 !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  color: #9eacba !important;
  opacity: 0.8 !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  color: #9eacba !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  color: #9eacba !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 1273px;
}

.u-section-2 .u-group-elements-1 {
  width: 120px;
  min-height: 77px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 20px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 96px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  text-shadow: 0px 0px 8px rgba(255,255,255,0.75);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 25px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -14px auto 0;
}

.u-section-2 .u-line-1 {
  width: 643px;
  transform-origin: right center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px auto 0;
}

.u-section-2 .u-image-1 {
  width: 171px;
  height: 198px;
  transition-duration: 0.5s;
  margin: 27px auto 0;
}

.u-section-2 .u-image-2 {
  width: 291px;
  height: 243px;
  transition-duration: 0.5s;
  margin: -113px 243px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 121px;
  height: 95px;
  transition-duration: 0.5s;
  margin: -159px auto 0 490px;
}

.u-section-2 .u-image-4 {
  width: 223px;
  height: 162px;
  transition-duration: 0.5s;
  margin: -170px auto 0 281px;
}

.u-section-2 .u-image-5 {
  width: 257px;
  height: 199px;
  transition-duration: 0.5s;
  margin: -11px 310px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 200px;
  height: 199px;
  transition-duration: 0.5s;
  margin: -212px auto 0 245px;
}

.u-section-2 .u-image-7 {
  width: 229px;
  height: 123px;
  transition-duration: 0.5s;
  margin: -226px auto 0 106px;
}

.u-section-2 .u-image-8 {
  width: 184px;
  height: 228px;
  transition-duration: 0.5s;
  margin: -132px auto 0 401px;
}

.u-section-2 .u-image-9 {
  width: 278px;
  height: 382px;
  transition-duration: 0.5s;
  margin: -65px auto 0 283px;
}

.u-section-2 .u-image-10 {
  width: 308px;
  height: 239px;
  transition-duration: 0.5s;
  margin: -353px 306px 0 auto;
}

.u-section-2 .u-image-11 {
  width: 315px;
  height: 238px;
  object-position: 69.48% 50%;
  transition-duration: 0.5s;
  margin: -77px auto 0 377px;
}

.u-section-2 .u-image-12 {
  width: 206px;
  height: 182px;
  transition-duration: 0.5s;
  margin: -248px 275px 0 auto;
}

.u-section-2 .u-image-13 {
  width: 58px;
  height: 145px;
  transition-duration: 0.5s;
  margin: 0 158px 60px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 419px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 283px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 356px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 262px;
  }

  .u-section-2 .u-image-10 {
    margin-right: 232px;
  }

  .u-section-2 .u-image-11 {
    margin-left: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 49px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 219px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 117px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 83px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 140px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 156px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 62px;
  }

  .u-section-2 .u-image-10 {
    margin-right: 32px;
  }

  .u-section-2 .u-image-11 {
    margin-left: 25px;
  }

  .u-section-2 .u-image-12 {
    margin-right: 134px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before,
.u-section-2 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-5.u-image-5.u-image-5:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-5.u-image-5.u-image-5.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before,
.u-section-2 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-6.u-image-6.u-image-6:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-6.u-image-6.u-image-6.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-7,
.u-section-2 .u-image-7:before,
.u-section-2 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-7 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-2 .u-image-7.u-image-7.u-image-7:hover {
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  opacity: 0.7 !important;
}

.u-section-2 .u-image-7 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-2 .u-image-7.u-image-7.u-image-7.hover {
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  opacity: 0.7 !important;
}

.u-section-2 .u-image-8,
.u-section-2 .u-image-8:before,
.u-section-2 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-8.u-image-8.u-image-8:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-8.u-image-8.u-image-8.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-9,
.u-section-2 .u-image-9:before,
.u-section-2 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-9.u-image-9.u-image-9:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-9.u-image-9.u-image-9.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-10,
.u-section-2 .u-image-10:before,
.u-section-2 .u-image-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-10.u-image-10.u-image-10:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-10.u-image-10.u-image-10.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-11,
.u-section-2 .u-image-11:before,
.u-section-2 .u-image-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-11.u-image-11.u-image-11:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-11.u-image-11.u-image-11.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-12,
.u-section-2 .u-image-12:before,
.u-section-2 .u-image-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-12.u-image-12.u-image-12:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-12.u-image-12.u-image-12.hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-13,
.u-section-2 .u-image-13:before,
.u-section-2 .u-image-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-13.u-image-13.u-image-13:hover {
  opacity: 0.7 !important;
}

.u-section-2 .u-image-13.u-image-13.u-image-13.hover {
  opacity: 0.7 !important;
}